<ion-header>
  <ion-toolbar>
    <ion-title>Queens Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img src="https://cdn.getyourguide.com/img/location/5a1d3d5660167.jpeg/88.jpg" class="queens" alt="">
    <p class="queensText">
      Queens is a borough of New York City, coextensive with Queens County, in the U.S. state of New York. 
      Located on Long Island, it is the largest borough of New York City in area; 
      it is bordered by the borough of Brooklyn at the western tip of Long Island
      to its west and Nassau County to the east.
    </p>
    <ion-button [routerLink]="['/list']" color="undefined" class="listButton">List</ion-button>
  </div>
</ion-content>
