<ion-header>
  <ion-toolbar>
    <ion-title>Manhattan Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Lower_Manhattan_Nov_2018.jpg/1200px-Lower_Manhattan_Nov_2018.jpg" class="manhattan" alt="">
    <p class="manhattanText">
      Manhattan, known regionally as The City, 
      is the most densely populated and geographically smallest of the five boroughs of New York City. 
      It is the urban core of the New York metropolitan area, 
      and coextensive with New York County, one of the original counties of the U.S. state of New York.
    </p>
    <ion-button [routerLink]="['/list']" color="undefined" class="listButton">List</ion-button>
  </div>
</ion-content>
