<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container"><br><br><br><br><br>
    <ion-label class="ion-text-wrap">
      W E L C O M E
    </ion-label><br>
    <ion-label class="ion-text-wrap">
      T O
    </ion-label><br>
    <ion-label class="ion-text-wrap">
      A Q U A
    </ion-label>
    <ion-input placeholder="Username" class="username"></ion-input>
    <ion-input placeholder="Password" class="password"></ion-input>
    <ion-button [routerLink]="['/list']" color="undefined" id="loginButton">Login</ion-button>
  </div>
</ion-content>