<ion-header>
  <ion-toolbar>
    <ion-title>Brooklyn Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img src="https://cdn.getyourguide.com/img/location/540dc814676c2-m1409276310.jpg/88.jpg" class="brooklyn" alt="">
    <p class="brooklynText">
      Brooklyn, one of the five boroughs of New York City, 
      southwestern Long Island, southeastern New York, U.S., 
      coextensive with Kings county. It is separated from Manhattan by 
      the East River and is bordered by the Upper and Lower New York bays (west), 
      the Atlantic Ocean (south), and the borough of Queens (north and east). 
      Brooklyn is connected to Manhattan by three bridges (one of which is the Brooklyn Bridge), 
      one vehicular tunnel, and several rapid-transit tubes; to Queens and Long Island by parkways; 
      and to Staten Island by the 4,260-foot (1,298-metre) Verrazano-Narrows Bridge.
    </p>
    <ion-button [routerLink]="['/list']" color="undefined" class="listButton">List</ion-button>
  </div>
</ion-content>
